:root {
    --azul: #4E56FF;
    --verde: #48D259;
    --azul-2: #444AC6;
    font-family: 'Raleway', sans-serif;
}


/* Gradiente/binary Section */

.blue-header {
    background-color: var(--azul);
}

.binary-header {
    background-image: url('../img/binary.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gradiente-header {
    background: #ffffff00;
    background: -moz-linear-gradient(left, #ffffff00 0%, #7E06C5 100%, #7E06C5 57%, #63059B 100%);
    background: -webkit-linear-gradient(left, #ffffff00 0%, #7E06C5 100%, #7E06C5 57%, #63059B 100%);
    background: linear-gradient(to right, #ffffff00 0%, #7E06C5 100%, #7E06C5 57%, #63059B 100%);
}

.ebook-text h2{
    font-weight: 800;
    font-size: 24px;
    line-height: 28.18px;
}

.ebook-text h3{
    font-weight: 800;
    font-size: 24px;
    line-height: 28.18px;
}

.ebook-text p{
    font-weight: 800;
    font-size: 14px;
    line-height: 28,18px;
}

.green-title {
    color: var(--verde);
}

.img-e-book img{
    position: relative;
    width: 460px;
    top: 60px;
    right: 80px;
}

/* Card Inscricao */

.card-inscricao {
    background-color: #4D067F;
    width: 278px;
    height: 330px;
}

.card-inscricao p {
    font-size: 13px;
}

.input-field {
    background-color: #63059B;
    padding: 5px 20px;
    display: flex;
    gap: 10px;
}

.input-field input {
    background-color: #63059B;
    border: none;
    color: #fff;
    width: 100%;
}

.input-field input::placeholder {
    color: #fff;
    font-size: 12px;
}

.input-field input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-card {
    width: 100%;
    height: 38px;
    font-weight: bold;
    background-color: var(--verde);
    border: none;
    border-bottom: 8px outset #7aeb87a8;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 900;
}


/* video Section */

.video-section {
    background-color: #EBEBEB;
    padding: 100px 0;
}

.video-section h2 {
    color: var(--azul);
    font-weight: 800;
    font-size: 18px;
}

.iframe {
    width: 560px;
    height: 315px;
}

/* footer */

.footer {
    text-align: center;
    color: var(--azul);
    padding: 50px 0 20px 0;
    font-size: 11px;
}

.footer p {
   margin: 20px 0;
}

.social-medias {
    display: flex;
    justify-content: center;
}

.social-medias img {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    justify-content: center;

}

.social-medias div {
    border: solid 2px var(--azul);
    border-radius: 50%;
    margin: 0 10px;
    padding: 10px;
}

.social-medias div:hover {
    background-color: #7077fa5e;
}

/* Mobile */

@media (max-width: 768px) {
    .iframe {
        width: 100%; 
    }

    .ebook-text {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 568px) {
    .social-medias div {
        margin: 0 5px;
    }
}

/* e-book */

@media (min-width: 1200px) and (max-width:1400px) {
    .img-e-book img{
        position: relative;
        width: 460px;
        top: 70px;
        right: 109px;
    }
}